/*(*) - звездочка значит что стиль задается абсолютно для всех элеменов*/
*{
    margin: 0;
    padding: 0;
}
/*  стили для всего - BODY  */
body{
    font-size: 1.2em;
    background-color: #fff;
    color: #555;
}
p{
    padding: 0 0 20px 0;
    line-height: 1.7em; /*межстрочный интервал*/
}
/*стили для инпутов*/
input[type="text"], input[type="password"], input[type="search"] {
    color: #5d5d5d;
    width: 60%;
    padding: 8px;
}

input, textarea{
    outline: none; /*не влияет на ширину элементов, то же самое что и border*/
    border: none;
    border: solid 1px #f2f2f2;
}

h1, h2{
    font: normal 170% 'century gothic', arial;	/*ШРИФТ*/
    margin:0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2{
    font: normal 140% 'century gothic', arial;	/*ШРИФТ*/
    margin:0 0 15px 0;
    padding: 15px 0 5px 0;
}
a, a:hover{
    outline: none;
    text-decoration: underline;
    color: #aeb002;
}

ul{
    margin: 2px 0 22px 17px;
}
ul li{
    margin: 0 0 6px;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
}
.header{
    background-color: darkslateblue;
    height: 200px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.main, .logo, .menubar, .site_content, .footer{
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: 880px;
    padding-bottom: 40px;
}

/*доступ к тегам h1, h2 в классе logo */
.logo h1, .logo h2{
    font: normal 300% 'century gothic', arial, sans-serif;
    margin: 0 0 0 9px;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover{
    padding: 22px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em; /*интервал между символами*/
    text-decoration: none; /*служит для стилизации тега <a>*/
}

.logo_text h2 {
    font-size: 0.9em;
    padding: 4px 0 0 0;
    color: #999;
}

.menubar{
    width: 1000px;
    height: 46px;
}
.ul.menu{
    float: right;	/*прижимает элемент к правому краю, также можно указать к левому*/
}
ul.menu li{
    float:left;
    padding: 0 0 0 9px;
    list-style: none; /*не хтим видить точки перед маркированым списком*/
    margin: 1px 2px 0 0;
}
ul.menu li a{
    font: normal 100% 'trebuchet ms', sans-serig;
   /* direction: block;	означает что мы не блочный элемент хотим превратить в блочный*/
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: #fff;
    text-decoration: none;	/*без линии подчеркивания*/
}
/*Напишим стиль для нашей активной ссылки, тоесть чтобы она горела когда мы перебываем на данной странице*/
ul.menu li.selected a{
    color: #aeb002;
}
ul.menu li a:hover{
    color: #e4ec04;
}
hr{
    border:solid 1px #f3f3f3;
}

.site_content{
    width: 880px;
    overflow: hidden;	/*хотим чтобы область отображась только область внутри нашего <div>,тоесть если область выходит за рамки, то мы скрываем ее */
    margin: 20px auto 0 auto;
    background-color: white;
}
.sidebar_container{
    float: right;
    width: 224px;
}
.sidebar{
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;	/*это рамка вокруг <div>, solid - это тип рамки*/
    border-radius: 5px;	/*ДЕЛАЕТ закругленные углы в рамке*/
    background-color: #f9f9f9;
}

.btn{
    padding: 8px;
    background-color: white;
    cursor: pointer;	/*для изменение курсора мышки в пальчик*/
}

.sidebar h2{
    color: #136cb2;
}

.enter{
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;	/*это рамка вокруг <div>, solid - это тип рамки*/
    border-radius: 5px;	/*ДЕЛАЕТ закругленные углы в рамке*/
    background-color: #f9f9f9;
}
.enter_btn{
    padding: 8px;
    background-color: white;
    cursor: pointer;	/*для изменение курсора мышки в пальчик*/
}
.enter h2{
    color: #136cb2;
}
.lables_passreg_text{
    font-size: 0.7em;
    margin-left: 2%;
    margin-top: 3%;
}

.news{
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;	/*это рамка вокруг <div>, solid - это тип рамки*/
    border-radius: 5px;	/*ДЕЛАЕТ закругленные углы в рамке*/
    background-color: #f9f9f9;
}
.news h2{
    color: #136cb2;
}
.lables_passreg_text_2{
    font-size: 0.7em;
    margin-left: 2%;
    margin-top: 3%;
}

.raiting ul li{
    list-style-type: none;
    margin: 0 0 0 0;
}
.raiting .raiting_sidebar{
    float: right;
}
.raiting{
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;	/*это рамка вокруг <div>, solid - это тип рамки*/
    border-radius: 5px;	/*ДЕЛАЕТ закругленные углы в рамке*/
    background-color: #f9f9f9;
}
.raiting h2{
    color: #136cb2;
}


/*стили для контента главной херни */
.content{
    text-align: left;
    width: 620px;
    padding: 0 0 0 5px;
    float: left;
}
.content a{
    text-decoration: none;
}
.films_block{
    margin-bottom: 5%;
}
.films_block img{
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 22%;
}
/*ТЕКСТОВЫЕ ПОСТЫ ДЛЯ ФИЛЬМОВ*/
.posts .posts_content{
    font-size: 0.8em;
}

/*	СТИЛИ ДЛЯ СТРАНИЧКИ - showFilms, с МОРГЕНШТЕРНОМ*/
.info_film_page{
    margin-top: 2%;
    margin-bottom: 4%;
}
.info_film_page .label{
    font-size: 1.2em;
}
.info_film_page .value{
    font-size: 1em;
    color: #49945a;
    margin-right: 3%;
}
.description_film {
    margin-bottom: 15%;
}
.description_film img {
    float: left;	/*прижали картинку к правому краю, чтобы текстобтекал картинку с левой стороны*/
    margin-right: 2%;
    border-radius: 5px;
    border: 5px #dad7d5;
}
/*стили для отзывов*/
.reviews{
    margin-bottom: 4%;
    font-size: 0.9em;
}
.reviews .review_name{
    background-color: #7268ad;
    color:white;
    padding: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.reviews .review_text{
    padding: 2% 0 2% 2%;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-color: black;
}
/*стили для формы отправки коментария*/
.send{
    margin-bottom: 4%;
}
.send input[type="text"], textarea{
    border: solid 1px #c3c3c3;
    margin-bottom: 2%;
}
.send input[type="text"]{
    width: 98%;
}
.send textarea{
    padding: 1%;
    width: 624px;
    height: 200px;
}
.send input[type="submit"]{
    background-color: #7268ad;
    color: white;
    border-radius: 5px;
    padding:3%;
}

/*	СТИЛИ ДЛЯ СТРАНИЦИ - КОНТАКТЫ 	*/
.send_otzuv{
    margin-bottom: 4%;
}
.send_otzuv input[type="text"], textarea{
    margin-top: 2%;
    border: solid 1px #c3c3c3;
}
.send_otzuv input[type="text"]{
    width: 597px;
}
.send_otzuv input[type="email"]{
    margin-top: 2%;
    border: solid 1px #c3c3c3;
    width: 600px;
    height: 25px;
    padding: 1%;
}
.send_otzuv textarea{
    padding: 1%;
    width: 600px;
    height: 200px;
    margin-bottom: 2%;
}
.send_otzuv .contact_button{
    background-color: #7268ad;
    color: white;
    border-radius: 5px;
    padding:3%;
}

/*СТИДИ ДЛЯ СТРАНИЧКИ РЕГИСТРАЦИЯ, ГДЕ ПАРОЛЬ*/
.send_otzuv .regis_button{
    margin-top: 2%;
    background-color: #7268ad;
    color: white;
    border-radius: 5px;
    padding:3%;
    margin-left: 2%;
}
.send_otzuv input[type="password"]{
    float: left;
    margin-top: 2%;
    border: solid 2px #7268ad;
    height: 25px;
    padding: 1%;
    color: #7268ad;
}

/*СТИЛИ ДЛЯ СТРАНИЦИ ЛОГИНА: ПОЛЯ ПАРОЛЯ И КНОПКИ*/
.send_otzuv .login_button{
    width: 120px;
    margin-top: 2%;
    background-color: #7268ad;
    color: white;
    border-radius: 5px;
    padding:3%;
}
.send_otzuv .login_password{
    margin-top: 2%;
    width: 600px;
    border: solid 2px #7268ad;
    height: 25px;
    padding: 1%;
    color: #7268ad;
}


/*Стили для низа сайта*/
.footer{
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    text-align: center; /*выравнивания текста по центру*/
    background-color: darkslateblue;
    color: #a8aa94;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}
.footer a{
    color: #a8aa94;
    text-decoration: none;
}
/*Псевдокласс :hover. Определяет стиль элемента при наведении на него курсора мыши, но при этом элемент еще не активирован, иными словами кнопка мыши не нажата.*/
.footer a:hover{
    color:#fff;
    text-decoration: none;
}
.footer p{
    padding: 0 0 10px 0;
}

