<#import "parts/shablonPage.ftl" as shablon/>  <#--для использования шаблона нужно его экспортировать и назначим ему алиас - с-->
<@shablon.mainpage>       <#--при использовании макросов мы используем собаку @  -->
    <div class="content">
        <h2>файлы</h2>

        <#list listContacts as contacts>
                    <div>
                    <#if contacts.filename??>
                    <img src="/img/${contacts.filename}">
                    </#if>
                    </div>
        <#else>
            No message
        </#list>
        <input type="file" name="file"/>
        <input type="hidden" name="_csrf" value="${_csrf.token}" />
        <input type="submit" value="Добавить">


    </div>
</@shablon.mainpage>