<#import "parts/shablonPage.ftl" as shablon/>  <#--для использования шаблона нужно его экспортировать и назначим ему алиас - с-->
<#import "parts/login.ftl" as l>
<@shablon.mainpage>       <#--при использовании макросов мы используем собаку @  -->
    ${message?ifExists}
    <@l.login "/login" false/>
    <div class="send_otzuv">
        <form method="get" action="/replacePassword">
            <input type="submit" class="login_button" value="Вост пароль">
        </form>
    </div>
</@shablon.mainpage>


    <#--${message?ifExists}-->
<#--<div class="content">-->
            <#--<h1>Вход</h1>-->
            <#--Ввойдите в аккаунт для продолжения пользования сайтом.-->
            <#--<div class="send_otzuv">-->
                <#--&lt;#&ndash;${message?ifExists}&ndash;&gt;-->
                <#--<form method="post" action="/login">-->
                    <#--<input type="text" name="username" placeholder="Введите имя">-->
                    <#--<input type="password" class="login_password" name="password" placeholder="Введите пароль">-->
                    <#--<input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
                    <#--<input type="submit" class="login_button" value="Войти">-->
                    <#--<a href="/replacePassword">Восстановить пароль</a>-->
                <#--</form>-->

            <#--</div>-->

    <#--<div class="send_otzuv">-->
        <#--<form method="get" action="/replacePassword">-->
            <#--<input type="submit" class="login_button" value="Вост пароль">-->
        <#--</form>-->
    <#--</div>-->
<#--</div>-->
<#--</@shablon.mainpage>-->




<#--<div>-->
    <#--Login page-->
    <#--<form action="/login" method="post">-->
        <#--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
        <#--<div><label> Password: <input type="password" name="password"/> </label></div>-->
        <#--<input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
        <#--<div><input type="submit" value="Войти"/></div>-->
    <#--</form>-->
    <#--<a href="/registration">Регистрация</a>-->
<#--</div>-->