<#import "parts/shablonPage.ftl" as shablon/>  <#--для использования шаблона нужно его экспортировать и назначим ему алиас - с-->
<#import "parts/login.ftl" as l>
<@shablon.mainpage>       <#--при использовании макросов мы используем собаку @  -->
    ${message?ifExists}
    <@l.login "/registration" true />
</@shablon.mainpage>

    <#--${message?ifExists}-->
<#--<div class="content">-->
                <#--<h1>Регистрация</h1>-->
                <#--Пройдите регистрацию, ради того чтобы получить все преимущества пользования сайтом!-->
                <#--<div class="send_otzuv">-->
                    <#--<form method="post" action="/registration">-->
                        <#--<input type="text" name="username" placeholder="Введите имя">-->
                        <#--<input type="email" name="email" placeholder="some@gmail.com">-->
                        <#--<input type="password" class="login_password" name="password" placeholder="Введите пароль">-->
                        <#--&lt;#&ndash;<input type="password" class="login_password" name="password2" placeholder="Повторите пароль">&ndash;&gt;-->
                        <#--<input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
                        <#--<input type="submit" class="regis_button" value="Зарегистрироваться">-->
                    <#--</form>-->
                <#--</div>-->
            <#--</div>-->


<#--</@shablon.mainpage>-->


<#--Add new user-->

<#--<form action="/registration" method="post">-->
    <#--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
    <#--<div><label> Password: <input type="password" name="password"/> </label></div>-->
    <#--<input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
    <#--<div><input type="submit" value="Sign In"/></div>-->
<#--</form>-->